@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@300;400&display=swap');


/* Type styles */

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
    color: white;
    margin: 0px;
    padding: 0px;
    background: #1A1A1A;
    opacity: 1;
}

h1 {
    font-family: 'Darker Grotesque', serif;
    font-size: 200px;
    font-weight: 400;
    line-height: 0.75;
    letter-spacing: 0px;
    text-align: center;
    color: #F2F2F2;
    opacity: 1;
}

h2 {
    font-family: 'Darker Grotesque', serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0px;
    text-align: left;
    color: #F2F2F2;
    opacity: 1;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0px;
    text-align: left;
    color: #F2F2F2;
    opacity: 1;
}

h4 {
    font-family: 'Darker Grotesque', serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    text-align: left;;
    letter-spacing: 0.8px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 0.8;
}

a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
    text-decoration: underline;
    color: rgb(126, 126, 126);
    margin: 0px;
    padding: 0px;
    opacity: 1;
}

/* Structure */

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 48px;
    padding-right: 48px;
}

/* Navigation */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 48px 48px 0px 48px;
}


#logo {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    position: fixed;
    padding-top: 50px;animation-name: herofadein;
    animation-duration: 1s;
}


header h5, a {
    color: white;
}

header a {
    padding-left: 24px;
}

/* Hero */

.hero {
    max-width: 1440px;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.hero h1 {
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    animation-name: herofadein;
    animation-duration: 2s;
  
    
}
  
@keyframes herofadein{
    0% {opacity: 0%;}
    80% {opacity: 0%;}
    100% {opacity: 100%;}
}


.scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;animation-name: herofadein;
    animation-duration: 3s;
}

/* Main Content */

.gradient {
    background: -moz-linear-gradient(top,  rgba(26,26,26,0) 0%, rgba(26,26,26,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(26,26,26,0) 0%,rgba(26,26,26,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(26,26,26,0) 0%,rgba(26,26,26,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001a1a1a', endColorstr='#1a1a1a',GradientType=0 ); /* IE6-9 */
    width: 100%;
    height: 400px;
    z-index: 100;
}

.content {
    padding: 200px 0 150px 0;
    background-color: #1a1a1a;
    margin: 0px;
    width: 100%;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 48px;
    background-color: #1a1a1a;
    z-index: 100;
    height: 100%;
    margin: 0px;
}

.left {
    grid-column: 1 / 6;
}

.right {
    grid-column: 7 / 12;
}

.left p {
    padding: 24px 0 48px 0 
    ;
}

.right h2 {
    padding: 0px;
    margin: 0px;
}

hr {
    padding: 0px;
    margin-top: 48px;
    margin-bottom: 48px;
    opacity: 0.1;
}


/* Footer */

footer {
        padding-top: 50px;
    padding-bottom: 100px;
    background-color: white;
}

footer a {
    display: block;
    font-size: 80px;
    line-height: 0px;
    font-family: 'Darker Grotesque', serif;
    background-color: none;
    text-decoration: none;
    color: black;
    padding-bottom: 48px;
    
}

footer p {
    color: black;
    font-size: small;
}

footer h4 {
    color: #1a1a1a;
    padding-bottom: 24px;
}














@media (max-width: 1440px) {

    /* Type styles */

    body {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.6;
        color: white;
        margin: 0px;
        padding: 0px;
        background: #1A1A1A;
        opacity: 1;
    }

    h1 {
        font-family: 'Darker Grotesque', serif;
        font-size: 15vw;
        font-weight: 400;
        line-height: 0.75;
        letter-spacing: 0px;
        text-align: center;
        color: #F2F2F2;
        opacity: 1;
    }

    h2 {
        font-family: 'Darker Grotesque', serif;
        font-size: 40px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 0px;
        text-align: left;
        color: #F2F2F2;
        opacity: 1;
    }

    h3 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 22px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: 0px;
        text-align: left;
        color: #F2F2F2;
        opacity: 1;
    }

    h4 {
        font-family: 'Darker Grotesque', serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 1;
        text-align: left;;
        letter-spacing: 0.8px;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 0.8;
    }

    a {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;
        text-align: left;
        text-decoration: underline;
        color: rgb(126, 126, 126);
        margin: 0px;
        padding: 0px;
        opacity: 1;
    }

    /* Structure */

    .container {
        max-width: 1440px;
        margin-left: 0px;
        margin-right: 0px;
    }


    .content-grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 48px;
        background-color: #1a1a1a;
        z-index: 100;
        height: 100%;
        margin: 0px;
        padding-bottom: 150px;
        padding-top: 100px;
    }

    .left {
        grid-column: 1 / 6;
    }

    .right {
        grid-column: 7 / 13;
    }


    /* Navigation */

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding: 48px 48px 0px 48px;
    }


    #logo {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 5px;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 1;
        position: fixed;
        padding-top: 50px;animation-name: herofadein;
        animation-duration: 1s;
    }


    header h5, a {
        color: white;
    }

    header a {
        padding-left: 24px;
    }

    /* Hero */

    .hero {
        width: 100vw;
        height: 100vh;
        margin: 0px;
        padding: 0px;
    }

    .hero h1 {
        position: fixed;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }

    .scroll {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -2;
    }

    /* Main Content */

    .gradient {
        background: -moz-linear-gradient(top,  rgba(26,26,26,0) 0%, rgba(26,26,26,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(26,26,26,0) 0%,rgba(26,26,26,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(26,26,26,0) 0%,rgba(26,26,26,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001a1a1a', endColorstr='#1a1a1a',GradientType=0 ); /* IE6-9 */;
        width: 100%;
        height: 400px;
        z-index: 100;
    }

    .content {
        padding: 0px;
        background-color: #1a1a1a;
        margin: 0px;
        width: 100%;
    }

    .left p {
        padding: 24px 0 48px 0 
        ;
    }

    .right h2 {
        padding: 0px;
        margin: 0px;
    }

    hr {
        padding: 0px;
        margin-top: 48px;
        margin-bottom: 48px;
    }

    /* Footer */

    footer {
        height: 100px;
        padding-top: 50px;
        padding-bottom: 100px;
        background-color: white;
    }
    
    footer a {
        display: block;
        font-size: 80px;
        line-height: 0px;
        font-family: 'Darker Grotesque', serif;
        background-color: none;
        text-decoration: none;
        color: black;
        padding-bottom: 48px;
        
    }
    
    footer p {
        color: black;
        font-size: small;
    }
    
    footer h4 {
        color: #1a1a1a;
        padding-bottom: 24px;
    }
}










@media (max-width: 750px) {

    /* Type styles */

    body {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.6;
        color: white;
        margin: 0px;
        padding: 0px;
        background: #1A1A1A;
        opacity: 1;
    }

    h1 {
        font-family: 'Darker Grotesque', serif;
        font-size: 15vw;
        font-weight: 400;
        line-height: 0.75;
        letter-spacing: 0px;
        text-align: left;
        color: #F2F2F2;
        opacity: 1;
    }

    h2 {
        font-family: 'Darker Grotesque', serif;
        font-size: 38px;
        font-weight: 300;
        line-height: 1.2;
        letter-spacing: 0px;
        text-align: left;
        color: #F2F2F2;
        opacity: 1;
    }

    h3 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.6;
        letter-spacing: 0px;
        text-align: left;
        color: #F2F2F2;
        opacity: 1;
    }

    h4 {
        font-family: 'Darker Grotesque', serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 1;
        text-align: left;;
        letter-spacing: 0.8px;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 0.8;
    }

    a {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        text-align: left;
        text-decoration: none;
        color: rgb(126, 126, 126);
        margin: 0px;
        padding: 0px;
        opacity: 1;
    }

    /* Structure */

    .container {
        max-width: 1440px;
        margin: 0px;
        padding: 24px;
        background-color: #1a1a1a;
    }


    .content-grid {
        display: block;
        column-gap: 0px;
        z-index: 100;
        height: 100%;
        margin: 0px;
        padding-bottom: 0px;
    }

    .left {
        grid-column: 1 / 5;
        padding: 0px;
    }

    .right {
        grid-column: 7 / 13;
        padding-bottom: 0px;
    }


    /* Navigation */

    header {
        display: flex;
        justify-content: left;
        align-items: left;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding: 12px 24px 0px 24px;
    }


    #logo {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 5px;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 1;
        position: fixed;
        animation-name: herofadein;
        animation-duration: 1s;
        padding-top: 20px;
    }


    header h5, a {
        color: white;
    }

    header a {
        padding-left: 24px;
    }

    /* Hero */

    .hero {
        width: 100vw;
        height: 100vh;
        margin: 0px;
        padding: 0px;
    }

    .hero h1 {
        position: fixed;
        bottom: 80px;
        margin: 0px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }

    .scroll {
        font-size: 14px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: left;
        position: fixed;
        bottom: 20px;
        left: 68px;
        z-index: -2;
    }

    /* Main Content */

    .gradient {
        background: -moz-linear-gradient(top,  rgba(26,26,26,0) 0%, rgba(26,26,26,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(26,26,26,0) 0%,rgba(26,26,26,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(26,26,26,0) 0%,rgba(26,26,26,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001a1a1a', endColorstr='#1a1a1a',GradientType=0 ); /* IE6-9 */
        width: 100%;
        height: 200px;
        z-index: 100;
    }

    .content {
        padding: 0px;
        background-color: #1A1A1A;
        margin: 0px;
        width: 100%;
    }

    .left {
        grid-column: 1 / 7;
        padding-bottom: 50px;
    }
    
    .right {
        grid-column: 7 / 13;
        padding-bottom: 50px;
    }

    .left p {
        padding: 12px 0 12px 0 
        ;
    }

    .right h2 {
        padding: 0 0 48px 0;
        margin: 0px;
    }

    hr {
        display: none;
    }

    /* Footer */

    .footer-container

    .footer-container {
        display: none;
    }

    .mob-footer {
        height: 200px;
        width: 100%;
        background-color: white;
        margin: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 50px;
        padding-bottom: 100px;
        z-index: 400;
    }

    .mob-footer a {
        display: block;
        font-size: 40px;
        line-height: 0;
        font-family: 'Darker Grotesque', serif;
        background-color: none;
        text-decoration: none;
        color: black;
        
    }

    .mob-footer p {
        padding-top: 50px;
        padding-left: 0px;
        color: black;
        font-size: small;
        background-color: none;
    }
}
