@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@300;400&display=swap');


/* Type styles */

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
    color: #1A1A1A;
    margin: 0px;
    padding: 0px;
    background: #ffffff;
    opacity: 1;
}

h1 {
    font-family: 'Darker Grotesque', serif;
    font-size: 120px;
    font-weight: 300;
    line-height: 0.8;
    letter-spacing: 0px;
    text-align: left;
    color: #1A1A1A;
    opacity: 1;
}

h2 {
    font-family: 'Darker Grotesque', serif;
    font-size: 80px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0px;
    text-align: left;
    color: #1A1A1A;
    opacity: 1;
}

h3 {
    font-family: 'Darker Grotesque', serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0px;
    text-align: left;
    color: #1A1A1A;
    opacity: 1;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.75;
    letter-spacing: 0px;
    text-align: left;
    color: #1A1A1A;
    opacity: 1;
}

h5 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    text-align: left;;
    letter-spacing: 4px;
    color: #1A1A1A;
    text-transform: uppercase;
    opacity: 0.5;
}

a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.8;
    color: #1A1A1A;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    opacity: 1;
}

a:hover {
    color: orange;
}

/* Structure */

.container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

/* Navigation */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0 0px 0;
    margin-left: 5%;
    margin-right: 5%;
}

ul {
    padding: 0px;
    margin: 0px;
}

.nav-links li {
    display: inline-block;
    align-items: baseline;
    padding-left: 40px;
}

.nav-links a{
    text-decoration: none;
}

.nav {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 5px;
    text-align: right;
    text-decoration: none;
    opacity: 0.8;
}

/* Casestudy */

.hero {
    max-width: 1400px;
    margin: 0px;
    padding: 200px 0 0 0;
}

.hero h1 {
    margin: 0px;
    padding: 0px;
}

.container .textblock {
    padding: 100px 0 100px 0;
    margin: 0px;
    max-width: 60%;
}

.container .image-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    object-fit: cover;
}

.image-block img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.credits {
    display: flex;
    margin: 0px;
    padding: 40px 0 0 0;
}

.credits h5 {
    padding-right: 20px;
}

#agency, #role {
    display: flex;
    align-items: baseline;
}

#agency {
    padding-right: 80px;
}


#hero-img {
    max-width: 100%;
}



/* Hero */

  
@keyframes herofadein{
    0% {opacity: 0%;}
    80% {opacity: 0%;}
    100% {opacity: 100%;}
}

@-webkit-keyframes herofadein{
    0% {opacity: 0%;}
    80% {opacity: 0%;}
    100% {opacity: 100%;}
}


.scroll {
    display: flex;
    flex-direction: column;
    animation-name: herofadein;
    animation-duration: 2s;
    -webkit-animation-name: herofadein;
    -webkit-animation-duration: 2s;
}

/* Selected work */

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    column-gap: 48px;
    z-index: 100;
    padding-top: 100px;
}
  
.projecttext{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 60px;
}
  
.project-card{
    display: flexbox;
}
  
.projects img{
    display: block;
    object-fit: contain;
    width: 100%;
}
  
.projecttext h4, 
.projecttext h3{
    padding: 10px 0 0 0;
    margin: 0;
}
  
.year{
    font-weight: lighter;
    opacity: 0.5;
}



/* Main Content */


.content {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 48px;
    margin: 0px;
    padding: 100px 0 200px 0;
}

.about-intro {
    width: 70%;
}

#experience {
    grid-column: 1 / 4;
}

#capabilites {
    grid-column: 4 / 7;
}

#clients {
    grid-column: 7 / 10;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

li {
    font-family: 'Darker Grotesque', serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0px;
    text-align: left;
    color: #1A1A1A;
    opacity: 1;
}

/* Next Project */

.next-project {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 50px 0;
}

hr {
    opacity: 0.3;
}

.next-project img {
    transform: rotate(-90deg);
}

#end-nav {
    padding: 50px 0 10px 0;
}

/* Footer */

footer {
    padding-top: 10px;
    padding-bottom: 20px;
    background: #ffffff;
}

footer h5, 
footer h2{
    color: #1A1A1A;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

footer a,
footer p {
    color: #1A1A1A;
    font-size: small;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 0 0 0;
}














@media (max-width: 1440px) {

    /* Type styles */

    body {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.8;
        color: #1A1A1A;
        margin: 0px;
        padding: 0px;
        background: #ffffff;
        opacity: 1;
    }
    
    h1 {
        font-family: 'Darker Grotesque', serif;
        font-size: 100px;
        font-weight: 300;
        line-height: 0.8;
        letter-spacing: 0px;
        text-align: left;
        color: #1A1A1A;
        opacity: 1;
    }
    
    h2 {
        font-family: 'Darker Grotesque', serif;
        font-size: 80px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 0px;
        text-align: left;
        color: #1A1A1A;
        opacity: 1;
    }
    
    h3 {
        font-family: 'Darker Grotesque', serif;
        font-size: 40px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 0px;
        text-align: left;
        color: #1A1A1A;
        opacity: 1;
    }
    
    h4 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 22px;
        font-weight: 300;
        line-height: 1.75;
        letter-spacing: 0px;
        text-align: left;
        color: #1A1A1A;
        opacity: 1;
    }
    
    h5 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 1;
        text-align: left;;
        letter-spacing: 4px;
        color: #1A1A1A;
        text-transform: uppercase;
        opacity: 0.5;
    }

    a {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 22px;
        font-weight: 300;
        line-height: 1.8;
        color: #1A1A1A;
        text-decoration: none;
        margin: 0px;
        padding: 0px;
        opacity: 1;
    }

    a:hover {
        color: orange;
    }

    /* Structure */

    .container {
        max-width: 100%;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 0px;
    }

    /* Navigation */


    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 0 0px 0;
        max-width: 1000px;
        margin-left: 10%;
        margin-right: 10%;
    }

    ul {
        padding: 0px;
        margin: 0px;
    }

    .nav-links li {
        display: inline-block;
        align-items: baseline;
        padding-left: 20px;
    }

    .nav-links a{
        text-decoration: none;
    }

    .nav {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 5px;
        text-align: center;
        text-decoration: none;
        color: #1a1a1a;
        opacity: 0.8;
        padding: 0px;
        margin: 0px;
    }

    /* Casestudy */

    .hero {
        max-width: 100%;
        margin: 0px;
        padding: 200px 0 0 0;
    }

    .hero h2 {
        margin: 0px;
        padding: 0px;
    }

    .container .textblock {
        padding: 100px 0 100px 0;
        margin: 0px;
        max-width: 80%;
    }

    .container .image-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        object-fit: cover;
    }

    .image-block img {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .credits {
        display: flex;
        margin: 0px;
        padding: 40px 0 0 0;
    }

    .credits h5 {
        padding-right: 20px;
    }

    #agency, #role {
        display: flex;
        align-items: baseline;
    }

    #agency {
        padding-right: 80px;
    }


    #hero-img {
        max-width: 100%;
    }



    /* Hero */



    
    
    @keyframes herofadein{
        0% {opacity: 0%;}
        80% {opacity: 0%;}
        100% {opacity: 100%;}
    }

    @-webkit-keyframes herofadein{
        0% {opacity: 0%;}
        80% {opacity: 0%;}
        100% {opacity: 100%;}
    }


    .scroll {
        display: flex;
        flex-direction: column;
        animation-name: herofadein;
        animation-duration: 2s;
        -webkit-animation-name: herofadein;
        -webkit-animation-duration: 2s;
    }

    /* Selected work */

    .projects{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        column-gap: 48px;
        z-index: 100;
        padding-top: 100px;
    }
    
    .projecttext{
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 60px;
    }
    
    .project-card{
        display: flexbox;
    }
    
    .projects img{
        display: block;
        object-fit: contain;
        width: 100%;
    }
    
    .projecttext h4, 
    .projecttext h3{
        padding: 10px 0 0 0;
        margin: 0;
    }
    
    .year{
        font-weight: lighter;
        opacity: 0.5;
    }



    /* Main Content */


    .content {
        padding: 0px;
        margin: 0px;
        width: 100%;
    }

    .content-grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 48px;
        margin: 0px;
        padding: 100px 0 200px 0;
    }

    .about-intro {
        width: 90%;
    }

    #experience {
        grid-column: 1 / 4;
    }

    #capabilites {
        grid-column: 4 / 7;
    }

    #clients {
        grid-column: 7 / 10;
    }

    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    li {
        font-family: 'Darker Grotesque', serif;
        font-size: 32px;
        font-weight: 300;
        line-height: 1.2;
        letter-spacing: 0px;
        text-align: left;
        color: #1A1A1A;
        opacity: 1;
    }

    /* Next Project */

    .next-project {
        display: flex;
        justify-content: space-between;
        padding: 50px 0 50px 0;
    }

    hr {
        opacity: 0.3;
    }

    .next-project img {
        transform: rotate(-90deg);
    }

    #end-nav {
        padding: 0px;
    }

    /* Footer */

    footer {
        padding-top: 0px;
        padding-bottom: 20px;
        background: #ffffff;
    }

    footer h5, 
    footer h2{
        color: #1A1A1A;
        text-align: left;
        padding: 0px;
        margin: 0px;
    }

    footer a,
    footer p {
        color: #1A1A1A;
        font-size: small;
    }

    .footer-links{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 10px 0 0 0;
    }
    
}










@media (max-width: 750px) {

    /* Type styles */

    body {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.8;
        color: #1A1A1A;
        margin: 0px;
        padding: 0px;
        background: #ffffff;
        opacity: 1;
    }

    h1 {
        font-family: 'Darker Grotesque', serif;
        font-size: 48px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 0px;
        text-align: left;
        color: #1a1a1a;
        opacity: 1;
    }

    h2 {
        font-family: 'Darker Grotesque', serif;
        font-size: 34px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 0px;
        text-align: left;
        color: #1a1a1a;
        opacity: 1;
    }

    h3 {
        font-family: 'Darker Grotesque', serif;
        font-size: 30px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 0px;
        text-align: left;
        color: #1a1a1a;
        opacity: 1;
    }

    h4 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.75;
        letter-spacing: 0px;
        text-align: left;
        color: #1a1a1a;
        opacity: 1;
        padding: 20px 0 0 0;
        margin: 0px;
    }

    h5 {
        font-family: 'Darker Grotesque', serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 1;
        text-align: left;
        letter-spacing: 3px;
        color: #1a1a1a;
        text-transform: uppercase;
        opacity: 0.8;
        padding: 0px;
        margin: 0px;
    }

    a {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;
        text-align: left;
        text-decoration: none;
        color: #1a1a1a;
        margin: 0px;
        padding: 0px;
        opacity: 1;
    }

    a:hover {
        color: gray;
    }

    /* Structure */

    /* Structure */

    .container {
        max-width: 100%;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 0px;
    }

    /* Navigation */


    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5% 0 0 0;
        margin: 0px;
        margin-left: 5%;
        margin-right: 5%;
    }

    ul {
        padding: 0px;
        margin: 0px;
    }


    .nav-links li {
        display: inline-block;
        align-items: baseline;
        padding: 0 0 0 5px;
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 5px;
        list-style: none;
        text-decoration: none;
        text-transform: uppercase;
        opacity: 1;
    }

    .nav-links a{
        text-decoration: none;
    }

    .nav {
        font-weight: 400;
        letter-spacing: 4px;
        text-decoration: none;
        text-transform: uppercase;
        opacity: 1;
    }

    /* Casestudy */

    .hero {
        padding: 0px;
        margin-left: 0;
        margin-right: 0;
    }

    .hero h1 {
        margin: 0px;
        padding: 60px 0 0 0;
        width: 100%;
        animation-name: herofadein;
        animation-duration: 0.25s;
        -webkit-animation-name: herofadein;
        -webkit-animation-duration: 0.5s;
    
        
    }

    .hero h2 {
        margin: 0px;
        padding: 0px;
    }

    .container .textblock {
        padding: 50px 0 50px 0;
        margin: 0px;
        max-width: 100%;
    }

    .container .image-block {
        display: flex;
        flex-direction: column;
        
    }

    .image-block img {
        max-width: 100%;
        object-fit: contain;
        padding: 10px 0 10px 0;
    }

    .credits {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 40px 0 0 0;
    }

    .credits p {
        margin: 0px;
        padding-top: 0px;
    }


    .credits h5 {
        padding: 0 10px 0 0;
        margin: 0px;
    }

    #agency, #role {
        display: flex;
        align-items: baseline;
        margin: 0px;
        padding: 0px;
    }

    #agency {
        padding-right: 0px;
        margin: 0px;
    }


    #hero-img {
        max-width: 100%;
    }



    /* Hero */



        
    @keyframes herofadein{
        0% {opacity: 0%;}
        80% {opacity: 0%;}
        100% {opacity: 100%;}
    }

    @-webkit-keyframes herofadein{
        0% {opacity: 0%;}
        80% {opacity: 0%;}
        100% {opacity: 100%;}
    }


    .scroll {
        display: flex;
        flex-direction: column;
        animation-name: herofadein;
        animation-duration: 2s;
        -webkit-animation-name: herofadein;
        -webkit-animation-duration: 2s;
    }

    /* Selected work */

    .projects{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        column-gap: 48px;
        z-index: 100;
        padding-top: 100px;
    }
    
    .projecttext{
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 60px;
    }
    
    .project-card{
        display: flexbox;
    }
    
    .projects img{
        display: block;
        object-fit: contain;
        width: 100%;
    }
    
    .projecttext h4, 
    .projecttext h3{
        padding: 10px 0 0 0;
        margin: 0;
    }
    
    .year{
        font-weight: lighter;
        opacity: 0.5;
    }



    /* Main Content */


    .content {
        padding: 0px;
        margin: 0px;
        width: 100%;
    }

    .content-grid {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 10px 0 80px 0;
    }

    .content-grid h5 {
        margin: 0px;
        padding: 0 0 10px 0;
    }

    .about-intro {
        margin: 0px;
        width: 90%;
        padding-top: 40px;
    }

    #experience {
        padding: 50px 0 0 0;
        grid-column: 1 / 4;
    }

    #capabilites {
        padding: 50px 0 0 0;
        grid-column: 4 / 7;
    }

    #clients {
        padding: 50px 0 0 0;
        grid-column: 7 / 10;
    }

    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    li {
        font-family: 'Darker Grotesque', serif;
        font-size: 40px;
        font-weight: 300;
        line-height: 1.2;
        letter-spacing: 0px;
        text-align: left;
        color: #1A1A1A;
        opacity: 1;
    }

    /* Next Project */

    .next-project {
        display: flex;
        justify-content: space-between;
    }

    hr {
        opacity: 0.3;
    }

    .next-project img {
        transform: rotate(-90deg);
    }

    #end-nav {
        padding: 0px 0 0px 0;
    }

    /* Footer */

    footer {
        padding-top: 10px;
        padding-bottom: 0px;
        margin: 0px;
        background: #ffffff;
    }

    footer h5, 
    footer h2{
        color: #1A1A1A;
        text-align: left;
        padding: 0px;
        margin: 0px;
    }

    footer a,
    footer p {
        color: #1A1A1A;
        font-size: small;
    }

    .footer-links{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 10px 0 0 0;
        margin: 0px;
    }

    

    

}
