@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@300;400&display=swap');

/* Type styles */

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
    color: #1A1A1A;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    opacity: 1;
}

h1 {
    font-family: 'Darker Grotesque', serif;
    font-size: 160px;
    font-weight: 400;
    line-height: 0.75;
    letter-spacing: 0px;
    text-align: center;
    color: #1A1A1A;
    opacity: 1;
}

h2 {
    font-family: 'Darker Grotesque', serif;
    font-size: 80px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0px;
    text-align: left;
    color: #1A1A1A;
    opacity: 1;
}

h3 {
    font-family: 'Darker Grotesque', serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0px;
    text-align: left;
    color: #1A1A1A;
    opacity: 1;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0px;
    text-align: left;
    color: #1A1A1A;
    opacity: 1;
}

h5 {
    font-family: 'Darker Grotesque', serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    text-align: left;;
    letter-spacing: 0.8px;
    color: #1A1A1A;
    text-transform: uppercase;
    opacity: 1;
}

a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
    text-decoration: underline;
    color: #1a1a1a;
    margin: 0px;
    padding: 0px;
    opacity: 1;
}

a:hover {
    color: gray;
}

/* Structure */

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

/* Navigation */


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 10% 0px 10%;
}


.nav-links li {
    display: inline-block;
    align-items: baseline;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 5px;
    text-align: center;
    list-style: none;
    text-decoration: none;
    color: #1a1a1a;
    text-transform: uppercase;
    opacity: 1;
}

.nav-links a{
    text-decoration: none;
}

.nav {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 5px;
    text-align: center;
    text-decoration: none;
    color: #1a1a1a;
    text-transform: uppercase;
    opacity: 1;
}



/* Hero */

.hero {
    max-width: 1440px;
    margin: 0px;
    padding: 200px 0 0 0;
}


.scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
}

/* Selected work */

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    column-gap: 48px;
    background: #ffffff;
    z-index: 100;
  }
  
  .projecttext{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 60px;
  }
  
  .project-card{
    display: flexbox;
  }
  
  .projects img{
    display: block;
    object-fit: contain;
    width: 100%;
  }
  
  .projecttext h4, 
  .projecttext h3{
    padding: 10px 0 0 0;
    margin: 0;
  }
  
  .year{
    font-weight: lighter;
    opacity: 0.5;
  }


/* Footer */

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}

footer a {
    display: block;
    font-size: 60px;
    line-height: 0px;
    font-family: 'Darker Grotesque', serif;
    background-color: none;
    text-decoration: none;
    color: black;
    padding-bottom: 48px;
    
}

footer p {
    color: black;
    font-size: small;
    text-align: center;
    justify-content: center;
}

footer h4 {
    color: #1a1a1a;
    padding-bottom: 10px;
}
























@media (max-width: 1440px) {

    /* Type styles */

    body {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.8;
        color: #1A1A1A;
        margin: 0px;
        padding: 0px;
        background: #ffffff;
        opacity: 1;
    }

    h1 {
        font-family: 'Darker Grotesque', serif;
        font-size: 160px;
        font-weight: 400;
        line-height: 0.75;
        letter-spacing: 0px;
        text-align: center;
        color: #1A1A1A;
        opacity: 1;
    }

    h2 {
        font-family: 'Darker Grotesque', serif;
        font-size: 80px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 0px;
        text-align: left;
        color: #1A1A1A;
        opacity: 1;
    }

    h3 {
        font-family: 'Darker Grotesque', serif;
        font-size: 40px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 0px;
        text-align: left;
        color: #1A1A1A;
        opacity: 1;
    }

    h4 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 22px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: 0px;
        text-align: left;
        color: #1A1A1A;
        opacity: 1;
    }

    h5 {
        font-family: 'Darker Grotesque', serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 1;
        text-align: left;;
        letter-spacing: 0.8px;
        color: #1A1A1A;
        text-transform: uppercase;
        opacity: 0.8;
    }

    a {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;
        text-align: left;
        text-decoration: underline;
        color: rgb(126, 126, 126);
        margin: 0px;
        padding: 0px;
        opacity: 1;
    }

    a:hover {
        color: gray;
    }

    /* Structure */

    .container {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 48px;
        padding-right: 48px;
    }

    /* Navigation */

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 48px 10% 0px 10%;
    }
    
    
    .nav-links li {
        display: inline-block;
        align-items: baseline;
        padding: 10px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 5px;
        text-align: center;
        list-style: none;
        text-decoration: none;
        color: #ffffff;
        text-transform: uppercase;
        opacity: 1;
    }
    
    .nav-links a{
        text-decoration: none;
    }
    
    .nav {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 5px;
        text-align: center;
        text-decoration: none;
        color: #1A1A1A;
        text-transform: uppercase;
        opacity: 1;
    }

    /* Hero */

    .hero {
        max-width: 1440px;
        margin: 0px;
        padding: 0px;
    }

    .hero h2 {
        padding-top: 100px;
        width: 100%;
    }


    /* Selected work */

    .projects{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        column-gap: 48px;
        background: #ffffff;
        z-index: 100;
    }
    
    .projecttext{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-top: 24px;
        padding-bottom: 48px;
    }
    
    .project-card {
        display: flexbox;
    }
    
    .projects img{
        display: block;
        object-fit: contain;
        width: 100%;
    }
    
    .projecttext h2, h3{
        padding: 0;
        margin: 0;
    }
    
    .year{
        font-weight: lighter;
    }


    /* Footer */

    footer {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: white;
    }

    footer a {
        display: block;
        font-size: 60px;
        line-height: 0px;
        font-family: 'Darker Grotesque', serif;
        background-color: none;
        text-decoration: none;
        color: black;
        padding-bottom: 48px;
        
    }

    footer p {
        color: black;
        font-size: small;
    }

    footer h4 {
        color: #1a1a1a;
        padding-bottom: 10px;
    }


}





@media (max-width: 750px) {

    /* Type styles */

    body {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.7;
        color: #1A1A1A;
        margin: 0px;
        padding: 0px;
        background: #ffffff;
        opacity: 1;
    }

    h1 {
        font-family: 'Darker Grotesque', serif;
        font-size: 10vw;
        font-weight: 400;
        line-height: 0.75;
        letter-spacing: 0px;
        text-align: left;
        color: #1A1A1A;
        opacity: 1;
    }

    h2 {
        font-family: 'Darker Grotesque', serif;
        font-size: 40px;
        font-weight: 300;
        line-height: 1.2;
        letter-spacing: 0px;
        text-align: left;
        color: #1A1A1A;
        opacity: 1;
    }

    h3 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 26px;
        font-weight: 300;
        line-height: 1.6;
        letter-spacing: 0px;
        text-align: left;
        color: #1A1A1A;
        opacity: 1;
    }

    h4 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 22px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: 0px;
        text-align: left;
        color: #1A1A1A;
        opacity: 1;
    }

    h5 {
        font-family: 'Darker Grotesque', serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 1;
        text-align: left;;
        letter-spacing: 0.8px;
        color: #1A1A1A;
        text-transform: uppercase;
        opacity: 0.8;
    }

    a {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        text-align: left;
        text-decoration: none;
        color: rgb(126, 126, 126);
        margin: 0px;
        padding: 0px;
        opacity: 1;
    }

    /* Structure */

    .container {
        max-width: 1440px;
        margin: 0px;
        padding: 24px;
        opacity: 1;
    }


    /* Navigation */

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 48px 10% 0px 10%;
        margin: 0px;
    }
    
    
    .nav-links li {
        display: inline-block;
        align-items: baseline;
        padding: 10px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 5px;
        text-align: center;
        list-style: none;
        text-decoration: none;
        color: #ffffff;
        text-transform: uppercase;
        opacity: 1;
    }
    
    .nav-links a{
        text-decoration: none;
    }
    
    .nav {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 5px;
        text-align: center;
        text-decoration: none;
        color: #1a1a1a;
        text-transform: uppercase;
        opacity: 1;
    }

    /* Hero */

    .hero {
        max-width: 750px;
        margin: 0px;
        padding: 0px;
    }

    .hero h2 {
        color: #1A1A1A;
        padding-top: 100px;
        margin: 0px;
    }

    .scroll {
        font-size: 14px;
        text-align: left;
        position: fixed;
        bottom: 20px;
        transform: translateX(0%);
        left: 20px;
        z-index: -2;
    }

    /* Selected work */

    .projects{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        column-gap: 24px;
        margin-left: auto;
        margin-right: auto;
        background: #F2F2F2;
        z-index: 100;
    }
    
    .projecttext{
        display: block;
        padding-top: 30px;
        padding-bottom: 60px;
    }
    
    .project-card{
        display: flexbox;
        max-width: 750px;
    }
    
    .projects img{
        display: block;
        margin: 0px;
        line-height: 0px;
        object-fit: contain;
        max-width: 90vw;
    }
    
    .projecttext h3, .projecttext h4{
        padding: 0;
        margin: 0;
    }
    
    .year{
        font-weight: lighter;
    }


    /* Footer */

    footer {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: white;
    }

    footer a {
        font-size: 60px;
        line-height: 0px;
        font-family: 'Darker Grotesque', serif;
        background-color: none;
        text-decoration: none;
        color: black;
        padding-bottom: 48px;
        
    }

    footer p {
        color: black;
        font-size: small;
    }

    

}