@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@300;400&display=swap');

/* Type styles */

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
    color: #1A1A1A;
    margin: 0px;
    padding: 0px;
    background: #F2F2F2;
    opacity: 1;
}

h1 {
    font-family: 'Darker Grotesque', serif;
    font-size: 160px;
    font-weight: 400;
    line-height: 0.75;
    letter-spacing: 0px;
    text-align: center;
    color: #1A1A1A;
    opacity: 1;
}

h2 {
    font-family: 'Darker Grotesque', serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0px;
    text-align: left;
    color: #1A1A1A;
    opacity: 1;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0px;
    text-align: left;
    color: #1A1A1A;
    opacity: 1;
}

h4 {
    font-family: 'Darker Grotesque', serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    text-align: left;;
    letter-spacing: 0.8px;
    color: #1A1A1A;
    text-transform: uppercase;
    opacity: 0.8;
}

a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
    text-decoration: underline;
    color: rgb(126, 126, 126);
    margin: 0px;
    padding: 0px;
    opacity: 1;
}

a:hover {
    color: gray;
}

/* Structure */

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 48px;
    padding-right: 48px;
}

/* Navigation */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 48px 48px 0px 48px;
}


#logo {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 5px;
    text-align: center;
    text-decoration: none;
    color: #1a1a1a;
    text-transform: uppercase;
    opacity: 1;
    position: fixed;
    padding-top: 50px;
    animation-name: herofadein;
    animation-duration: 1s;
}


header h5, a {
    color: white;
}

header a {
    padding-left: 24px;
}

/* Hero */

.hero {
    max-width: 1440px;
    height: 30vh;
    margin: 0px;
    padding: 0px;
}

.hero h1 {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    animation-name: herofadein;
    animation-duration: 2s;
  
    
}
  
@keyframes herofadein{
    0% {opacity: 0%;}
    80% {opacity: 0%;}
    100% {opacity: 100%;}
}


.scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;animation-name: herofadein;
    animation-duration: 3s;
}

/* Selected work */

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    column-gap: 48px;
  }
  
  .projecttext{
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 64px;
  }
  
  .project1, .project2, .project3, .project4{
    display: flexbox;
  }
  
  .projects img{
    display: block;
    object-fit: contain;
    width: 100%;
  }
  
  .projecttext h2, h3{
    padding: 0;
    margin: 0;
  }
  
  .year{
    font-weight: lighter;
  }


/* Footer */

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}

footer a {
    display: block;
    font-size: 60px;
    line-height: 0px;
    font-family: 'Darker Grotesque', serif;
    background-color: none;
    text-decoration: none;
    color: black;
    padding-bottom: 48px;
    
}

footer p {
    color: black;
    font-size: small;
}

footer h4 {
    color: #1a1a1a;
    padding-bottom: 10px;
}
























@media (max-width: 1440px) {


}





@media (max-width: 750px) {

    
}